<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<body>
    <nav>
        <a href="#" class="navLogo">NotePlan</a>
        <a href="/register">Register</a></li>
        <a href="/login">Login</a></li>

    </nav>
    <section>
        <h1 class="title">Welcome to <span class="T_end">NotePlan</span></h1>
        <p>Currently still in development but you can create notes and in the future timetable</p>
        <h2>Get Started</h2>
        <div class="card">
            <p>If you don't have an account, you can create one to start taking notes.</p> 
            <a href="/register" class="btn">Create</a>
            <p>If you already have an account, log in to access your notes.</p>
            <a href="/login" class="btn">Login</a>
        </div>

    </section>
    <footer>
        &#169;Shiloh Mbuka
    </footer>

</body>
</html>