<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    
    <section class="login">
        <h1>Login to Your Account</h1>
        <form action="/login" method="post">
            <div class="input-group1">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="username" required>
            </div>
            <div class="input-group1">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="password" required>
            </div>
            <div class="input-group1">
                <center>
                    <button type="submit">Login</button>
                </center>
            </div>
            <% if (typeof messages !== 'undefined' && messages.error) { %>
                <p style="color: blue;" class="error"><%= messages.error %></p>
            <% } %>
        </form>
        <p>Don't have an account? <a href="/register">Create one here</a></p>
    </section>

</body>
</html>
