<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="#" class="navLogo">My App</a>
        <ul class="navbar">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/notes">Notes</a></li>
        </ul>
    </nav>
    <section class="notes">
        <h1>Your Notes</h1>
        <center>
            <a href="/add"><button class="addButton">NEW</button></a>
        </center>
        <div class="notesection">
            <% results.forEach(note => { %>
                <br>
                <div class="notecontainer">
                    <h3><%=note.title%></h3>
                    <br>
                    <p  ><%= note.content %></p>
                    <div class="button-container">
                        <a href="/deleteNote/<%= note.id %>"><button>Delete</button></a>
                        <a href="/ind/<%= note.id %>"><button id="update">Update</button></a>
                    </div>
                </div>
                
            <% }); %>
        </div>
        


    </section>
    
</body>
</html>
