<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style_r.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>register</title>
</head>
<body>
    <nav>
        <a href="/logout" class="navLogo">NotePlan</a>
        <a href="/register">Register</a></li>
        <a href="/login">Login</a></li>

    </nav>
    <section class="register">
        <div class="box">
            <h1>Create an Account</h1>
        <form action="/register" method="post">
            <div class="input-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" placeholder="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="password" required>
            </div>
            <div class="input-group">
                <button type="submit">Create Account</button>
                
            </div>
        </form>
        <p>Already have an account? <a href="/login">Log in here</a></p>

        </div>
        
    </section>
    <footer>
        &#169;Shiloh Mbuka
    </footer>
</body>
</html>