body{
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

nav{
    display: flex;
    padding: 20px;
    font-size: 18px;
    gap: 25px; 
    border-bottom: solid 1px rgb(230, 230, 230);
}

nav a{
    text-decoration: none;
    color: black;
    font-family: "Jost", sans-serif;


}

nav a:hover{
    color:#333333;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
    font-family: "Jost", sans-serif;   
}

.login h1 {
    font-size: 60px;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-weight: 600;

}

.input-group1 {
    margin-bottom: 15px;
}

.login label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}

.login input[type="text"],
.login input[type="password"] {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.login button{
    padding: 10px 20px;
    background-color: #7e48d5;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.login button:hover {
    background-color: #783ed4;
}

.login p {
    margin-top: 20px;
}

.login a {
    color: #7e48d5;
    text-decoration: none;
}

.login  a:hover {
    color: #783ed4;
}

.box {
    width: 600px;
    height: 500px;
    margin: 0 auto;   
    padding: 20px;
    border-radius: 5px;
    border: solid 1px rgb(230, 230, 230);
    box-shadow: 0 6px 18px rgba(0,0,0,0.06);
}


footer{
    margin-top: 3.2em;
    text-align: center;
    font-size: 1rem;
    color: #000000;
    border-top: solid 1px rgb(230, 230, 230);
    padding: 20px;
}
