body{
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

.container{
    display: flex;
    justify-content: center; 
    align-items: center;

}

.card{
    height: 250px;
    width: 60%;
    padding: 10px;
    margin: 0;
    border: solid 1px rgb(230, 230, 230);
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.06);

    
}
    
.title{
    font-size: 5rem;
    font-family: sans-serif;
}
p{
    font-size: 1.5rem;
}

h2{
    font-size: 2rem;
    font-family: sans-serif;

}

nav{
    display: flex;
    padding: 20px;
    font-size: 18px;
    gap: 25px; 
    border-bottom: solid 1px rgb(230, 230, 230);
}

nav a{
    text-decoration: none;
    color: black;

}

nav a:hover{
    color:#333333;
}

section{
    margin-left: 50px;
}

.btn{
    display: inline-flex;     
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 35px;
    text-align: center;
    margin-left: 10px;
    background: #7e48d5;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: white;

}

.btn:hover{
    background: #783ed4;

}

.T_end{
    color: #5a189a;
}

footer{
    margin-top: 3.2em;
    text-align: center;
    font-size: 1rem;
    color: #000000;
    border-top: solid 1px rgb(230, 230, 230);
    padding: 20px;
}

