body{
    margin: 0;
}

p, h1, h2, h3{
    font-family: "Old Standard TT", serif;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    font-size: 25px;
    height: 75px;
    align-items: center;
}

nav li {
    margin-left: 15px;
}
nav ul {
    display: flex;
    margin-right: 650px;
}

.navbar {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.navLogo{
    color: #fff;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 40px;
    margin-left: 50px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

}

nav a:hover {
    color: rgb(178, 178, 178);
}

.Dashboard h1{
    text-align: center;
    margin-top: 25px;
    font-size: 50px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 400;
}

.notes h1{
    text-align: center;
    margin-top: 25px;
    font-size: 35px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 400;

}

.container {    
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center items vertically */
    align-items: center; /* Center items horizontally */
    width: 60%;
    margin: 0 auto; /* Auto margin for horizontal centering */
    height: auto; /* Set height to fit content */
    padding: 20px; /* Add some padding for spacing */
    background-color: #fefefe;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.buttons {
    display: flex;
    justify-content: space-evenly; /* Distribute space between items */
    width: 100%; /* Full width */
    margin-top: 20px; /* Add some space above the buttons */
}

.buttons button {
    background-color: #c2c2c2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 170px;
    height: 100px;
    font-size: 25px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}

.buttons button:hover {
    background-color: #a2a2a2;
}

.container a {
    text-decoration: none;
    color: black;
}

.container a:hover {
    color: #6e6e6e;
}

.logout{
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}
.notes{
    margin-left: 60px;
    margin-right: 60px;
}
.addButton{
    width: 200px;
    height: 30px;
    background-color: green;
    border: none;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
}

.addButton:hover{
    background-color: darkgreen;
}

.notesection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.notecontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.notecontainer .button-container {
    display: flex;
    justify-content: space-around; /* Distribute space between buttons */
    width: 100%;
}

.notecontainer button {
    width: 100px;
    height: 30px;
    background-color: rgb(190, 2, 2);
    border: none;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: 10px; /* Optional: Add some margin between buttons and content */
}

.notecontainer button:hover {
    background-color: rgba(150, 2, 2, 0.888);
}
.notecontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.notecontainer .button-container {
    display: flex;
    justify-content: space-around; /* Distribute space between buttons */
    width: 100%;
}

.notecontainer button {
    width: 170px;
    height: 30px;
    background-color: rgb(190, 2, 2);
    border: none;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: 10px; /* Optional: Add some margin between buttons and content */
}

#update{
    background-color: #ffe924;
}

#update:hover{
    background-color: #f7d000;
}

.notecontainer button:hover {
    background-color: rgba(150, 2, 2, 0.888);
}

.notecontainer p{
    font-size: 20px;
    font-family: "Old Standard TT", serif;
    margin-top: -125px; /* Adjust the gap between the title and content */

}

.notecontainer h3{
    font-size: 25px;
    font-family: "Oswald", sans-serif;
    text-align: center;
    margin-top: 1px; /* Adjust the gap between the title and content */
    letter-spacing: 1px;
    text-transform: uppercase;
}

.home{
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full viewport height */
    background-color: #a188d5;
}

.home h1 {
    text-align: center;
    margin-top: 25px;
    font-size: 35px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #fff;
}

.home h2{
    margin-top: 25px;
    font-size: 25px;
    font-family: "Oswald", sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #fff;
}

.home p{
    font-size: 20px;
    font-family: "Old Standard TT", serif;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px; /* Set desired width */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home a{
    text-decoration: none;
    color: #000;
}

.home a:hover{
    color: #b176d3;
}

.register{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    font-family: "Old Standard TT", serif; 
}

.register h1 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

.input-group {
    margin-bottom: 15px;
}

.register label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

.register input[type="text"], .register input[type="password"] {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.register button {
    padding: 10px 20px;
    background-color: #a188d5;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.register button:hover {
    background-color: #9172d2;
}

.register p {
    margin-top: 20px;
}

.register a {
    color: #a188d5;
    text-decoration: none;
}

.register a:hover {
    color: #9172d2c9;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;    
}

.login h1 {
    font-size: 28px;
    margin-bottom: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;

}

.input-group1 {
    margin-bottom: 15px;
}

.login label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

.login input[type="text"],
.login input[type="password"] {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.login button{
    padding: 10px 20px;
    background-color: #a188d5;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.login button:hover {
    background-color: #9172d2;
}

.login p {
    margin-top: 20px;
}

.login a {
    color: #a188d5;
    text-decoration: none;
}

.login  a:hover {
    color: #9172d2c9;
}